.text{
  color:#1316a5
}

.wd{
   width: 450px;
 }

.items{
  margin-left: 500px;
}

.borders{
  border: 1px solid black;
  height: 50px;
  justify-content: center;
  text-align: center;
}

.marginroom{
  margin-left: 200px;
}
.marginadult{
margin-left: 191px;
}
.marginchild{
  margin-left: 175px;
}

.text-danger {
  color: red;
}